*~
*swp
data/*
figures/*
init/*
results/*
code/scripts/mat_results/*
code/scripts/old/*
notes/*
slurm/figures/*
slurm/outputs/*
docs/firstReport/*
!docs/firstReport/firstReport_96129535.tex
!docs/firstReport/firstReport_96129535.pdf
__pycache__
